.reset-password-page{
    width: 30%;
    margin: 10% auto;
}
.reset-password-form{
    width: 80%;
    width: 100%;
    background-color: #04063a;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    /* border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white; */
    box-shadow: 4px 4px 4px rgba(0,0,0,1);
}

.reset-password-form div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.reset-password-form input{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.reset-password-form button{
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(4, 194, 4);
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.reset-password-form button:hover{
    background-color: rgb(1, 71, 1);
}
